{% extends "base_delivery.html" %}
{% block content %}
    <body>

      <!-- <nav class="navbar navbar-expand-lg " style="background-color: #232F3E;color: white;" >
      <a class="navbar-brand" href="#">AmazEats</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/food/user_orders">Profile</a>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Favourites
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href= "/fooditems/favourites/{{ type|default:'restaurants' }}">Restaurants</a>
          <a class="dropdown-item" href="/fooditems/favourites/{{ type|default:'fooditems' }}">FoodItems</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/food/cart">cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">logout</a>
      </li>
    </ul>
    <form class="form-inline" action='/fooditems/res_search' method = 'get'>
      <input class="form-control mr-sm-2" type="search" name='q'  placeholder="Search" aria-label="Search">
      <button class="btn my-2 my-sm-0" type="submit" style=" background-color:#FF9900;">Search</button>
    </form>  </div>
</nav>-->

        <div class="jumbotron text-center" style="margin-bottom:0;background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQTKPmO0QsWFsyN2Qk4JLGKpoRQRvXj5JtIFsL1T9V-Aeu-PACh&usqp=CAU');background-size:cover;color:#ffffff;">
            <h1>AmazEats</h1>
            <p style="color:#ffa000;">The Food You Like !!</p>
        </div>
            <div class="container" style="margin-top:30px">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card text-center mb-5">
                            <div class="card-body">
                                <img class="border border-warning" src="https://getdrawings.com/free-icon/facebook-female-profile-icon-56.png" style="height:150;width:150;border-radius:50%;margin:10"/>
                                <h5 class="card-title">{{ request.user.username }}</h5>
                                <p class="card-text">Hyderabad</p>
                                <a href="/EditProfile" style="background-color:#ffa000;color:#ffffff;" class="btn">Edit Profile</a>
                            </div>
                        </div>

                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="text-color:#131A22">

                            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Orders</a>
                            <a class="nav-link"href="{% url 'dashboard' %}">Home</a>
                            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Your Favourites</a>
                            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Ratings and reviews</a>
                       <a class="nav-link" href="/logout">Logout</a>
                        </div>
                        <hr class="d-sm-none">
                    </div>
                    <div class="col-sm-8">`
                        <nav class="nav nav-pills nav-fill p-0 ml-5">
                            <a class="nav-item nav-link" href="/food/user_orders">Current Orders</a>
                            <a class="nav-item nav-link active" href="/food/order_history">Order History</a>
                        </nav>
                        {% if obj %}
                        {% for item in obj %}
                        {% if item.status in not_needed %}
                            <div class="card m-5 text-white mx-auto" style="width: 800px;background-color:#232F3E"  >
                                <div class="card-header">
                                    <span><h3> Order Number : {{ item.order_id }} </h3></span>
                                    {% if item.status == "Delivered" %}
                                         <span><button type="button" style="background-color:#FF9900" class="btn btn-info float-right ml-2" data-toggle="modal" data-target="#rating" >Rate</button></span>

                                    {% elif item.status == "Rejected" %}
                                        <span class="float-right">{{item.status}}</span>
                                    {% endif %}
                                </div>
                                <div class="card-body" style="background-color:#ffffff;color:#131A22;">
                                    <h6>Restaurant : {{ item.restaurant_id}}</h6>
                                    <h6>Address : </h6>
                                    <h6>Total Amount : {{item.amount}}</h6>
                                    <h5 class="card-title">Items Ordered </h5>
                                    <ul>
                                        {% for m_obj in item.order_set.all %}
                                            <li> {{m_obj.quantity}} x {{m_obj.item_name}} </li>
                                        {% endfor %}
                                    </ul>
                                    <span class="card-text">Ordered On : {{ item.order_date }} </span>
                                    {% if item.status == "Delivered" %}
                                    <span><a href="/food/reorder/{{ item.order_id }}" style="background-color:#FF9900" class="btn btn-info float-right">Reorder</a></span>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        {% endfor %}
                        <div class="pagination justify-content-center mb-5">
                            {% if values.has_previous %}
                                <a class="pagination-action" href="?page=1"><i class="fas fa-angle-double-left"></i></a>
                                <a class="pagination-action" href="?page={{ values.previous_page_number }}"><i class="fas fa-angle-left"></i></a>
                            {% endif %}

                            {% for num in values.paginator.page_range %}
                                {% if values.number == num %}
                                    <span class="pagination-number pagination-current">{{ num }}</span>&nbsp;
                                {% elif num > values.number|add:'-3' and num < values.number|add:'3' %}
                                    <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>&nbsp;
                                {% endif %}
                            {% endfor %}

                            {% if values.has_next %}
                            <a class="pagination-action" href="?page={{ values.next_page_number }}"><i class="fas fa-angle-double-right"></i></a>
                            <a class="pagination-action" href="?page={{ values.paginator.num_pages }}"><i class=""fas fa-angle-right></i></a>
                        {% endif %}
                    </div>
                        {% else %}
                             <center>
		                    <img src="https://cdn.dribbble.com/users/1168645/screenshots/3152485/no-orders_2x.png" style="height:300;" class="mt-4 align-bottom rounded mx-auto d-block" alt="order processing">
		                    <h5 class="card-title">You have no orders yet</h5>
                            <p><small>Explore the delicious menu </small></p>
	                        </center>
                        {% endif %}
                </div>
            </div>
        </div>
        <div class="jumbotron text-center" style="margin-bottom:0">
            <p>By Me</p>
        </div>
    </body>
{% endblock content %}