{% extends "base_delivery.html" %}
{% block content %}

    <body>

  
        <div class="jumbotron text-center" style="margin-bottom:0;background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQTKPmO0QsWFsyN2Qk4JLGKpoRQRvXj5JtIFsL1T9V-Aeu-PACh&usqp=CAU');background-size:cover;color:#ffffff;">
            <h1>AmazEats</h1>
            <p style="color:#ffa000;">The Food You Like !!</p>
        </div>
            <div class="container" style="margin-top:30px">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card text-center mb-5">
                            <div class="card-body">
                                <img class="border border-warning" src="https://getdrawings.com/free-icon/facebook-female-profile-icon-56.png" style="height:150;width:150;border-radius:50%;margin:10"/>
                                <h5 class="card-title">{{ request.user.username }}</h5>
                                <p class="card-text">Hyderabad</p>
                                <a href="/EditProfile" style="background-color:#ffa000;color:#ffffff;" class="btn">Edit Profile</a>
                            </div>
                        </div>

                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="text-color:#131A22">
                            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Orders</a>
                            <a style="color:#232F3E" class="nav-link"href="{% url 'dashboard' %}">Home</a>
                            <a style="color:#232F3E" class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Your Favourites</a>
                            <a style="color:#232F3E" class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Ratings and reviews</a>
                         <a style="color:#232F3E" class="nav-link" href="/food/cart">Cart</a>
                        <a style="color:#0d98ba" class="nav-link" href="/logout">Logout</a>

                        </div>
                        <hr class="d-sm-none">
                    </div>
                    <div class="col-sm-8">

                        <nav class="nav nav-pills nav-fill p-0 ml-5">
                            <a class="nav-item nav-link active" href="/food/user_orders">Current Orders</a>
                            <a class="nav-item nav-link" href="/food/order_history">Order History</a>
                        </nav>

                       <!-- <h3> Current Orders </h3>-->
                        {%if obj%}
                        {% for item in obj %}
                        <!--{% if item.status != "Delivered"%}-->
                            <div class="card m-5 text-white mx-auto" style="width: 800px;background-color:#232F3E"  >
                                <div class="card-header">
                                    <span><h3> Order Number : {{ item.order_id }} </h3></span>
                                     <span><a href="#" style="background-color:#FF9900" class="btn btn-info float-right ml-2"
                                       data-toggle="modal" data-target="#trackOrder">Track Order</a></span>
                                  <!--  {% if item.status == "Delivered" %}
                                         <span><a href="#" style="background-color:#FF9900" class="btn btn-info float-right ml-2">Rate</a></span>
                                    {% else %}
                                        <span class="float-right">{{item.status}}</span>
                                    {% endif %}-->
                                </div>
                                <div class="card-body" style="background-color:#ffffff;color:#131A22;">
                                <!--<h5 class="card-title">Order Number : {{ item.order_id }}</h5>-->
                                    <h6>Restaurant name : {{ item.restaurant_id }}</h6>
                                    <h6>Total Amount : {{item.amount}}</h6>
                                    <h5 class="card-title">Items Ordered </h5>
                                    <ul>
                                        {% for m_obj in item.order_set.all %}
                                            <li> {{m_obj.quantity}} x {{m_obj.item_name}} </li>
                                        {% endfor %}
                                    </ul>
                                    <span class="card-text">Ordered On : {{ item.order_date }} </span>
                                    {% if item.status == "Placed" %}
                                         <span><a href="/food/cancelorder/{{item.order_id}}" style="background-color:#FF9900" class="btn btn-info float-right">Cancel Order</a></span>
                                    {% endif %}
                                </div>
                            </div>
                        <div class="modal fade" id="trackOrder" tabindex="-1" role="dialog" aria-labelledby="trackOrderLabel" aria-hidden="true">
                                          <div class="modal-dialog modal-dialog-lg modal-dialog-centered" style="width: 1000px;height: 700px;">
                                            <div class="modal-content" align="center">
                                              <div class="modal-header">
                                                <h5 class="modal-title" id="trackOrderLabel">
                                                    Check your order progress
                                                </h5>
                                                &nbsp;&nbsp;&nbsp;
                                                 <div class="spinner-grow" role="status" style="height: 30px;width: 30px;">
                                                          <span class="sr-only">Loading...</span>
                                                </div>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                              </div>
                                              <div class="modal-body">

                                                    {% if item.status == "Processing" %}
                                                    <p style="color :#FF9900"><b>Restaurant Accepted</b></p>

                                                    <svg id="Слой_2" class="track" style="fill :#FF9900;" data-name="Слой 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 101 101">

                                                    {% else %}
                                                    {% if item.status == "Order Picked" or item.status == "Delivery Boy Assigned"  %}

                                                        <p style="color :#FF9900"><b>Restaurant Accepted</b></p>
                                                        <svg id="Слой_2" class="track" style="fill :#FF9900;" data-name="Слой 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 101 101">
                                                    {% else %}



                                                        <small style="font-size: 15px;"><b>Waiting for Restaurant Confirmation</b></small><br/>

                                                        <svg id="Слой_2" class="track" data-name="Слой 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 101 101">

                                                    {% endif %}


                                                     {% endif %}
                                                        <path d="M87.56,64,67.66,75.79,60.08,71h9.53a5.5,5.5,0,0,0,0-11H53.24a15.19,15.19,0,0,0-5.51,1L35,66.78V65.5A1.5,1.5,0,0,0,33.5,64h-11A1.5,1.5,0,0,0,21,65.5v25A1.5,1.5,0,0,0,22.5,92h11A1.5,1.5,0,0,0,35,90.5V89H66.09a9.32,9.32,0,0,0,5.48-1.77L92.83,72A4.83,4.83,0,0,0,87.56,64ZM32,89H24V67h8ZM91.09,69.61,69.82,84.8A6.35,6.35,0,0,1,66.09,86H35V70.07l13.88-6.27A12.13,12.13,0,0,1,53.24,63H69.61a2.5,2.5,0,0,1,0,5H54.9a1.5,1.5,0,0,0-.8,2.77l12.73,8a1.5,1.5,0,0,0,1.57,0l20.7-12.29a1.83,1.83,0,0,1,2,3.06Z"/><path d="M94.5,52H91A38.55,38.55,0,0,0,57.35,14.82a6.5,6.5,0,1,0-9.69,0A38.54,38.54,0,0,0,14,52H9.5a1.5,1.5,0,0,0,0,3h85a1.5,1.5,0,0,0,0-3ZM52.5,7A3.5,3.5,0,1,1,49,10.5,3.5,3.5,0,0,1,52.5,7Zm0,10.5A35.53,35.53,0,0,1,88,52H17A35.53,35.53,0,0,1,52.5,17.5Z"/><path d="M44.44,24.61a29.46,29.46,0,0,0-18.8,16.17A1.5,1.5,0,1,0,28.37,42,26.47,26.47,0,0,1,45.26,27.5a1.5,1.5,0,1,0-.82-2.89Z"/></svg>
                                                <br/>
                                                <i class="fas fa-angle-double-down fa-2x" style="padding-bottom:10px;"></i>
                                                <br/>


                                                {% if item.status == "Delivery Boy Assigned" %}
                                                     <p style="color :#FF9900"><b>Deliveryboy Assigned</b></p>

                                                   <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" class="track" fill="#FF9900" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" stroke-width="0.75"
                                                     viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;height: 110px;" xml:space="preserve" >
                                                     {% else %}
                                                     {% if item.status == "Order Picked" %}
                                                     <p style="color :#FF9900"><b>DeliveryAgent Assigned</b></p>

                                                   <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" class="track" fill="#FF9900" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" stroke-width="0.75"
                                                     viewBox="0 0 60 60" style="height:110px;enable-background:new 0 0 60 60;" xml:space="preserve">
                                                     {% else %}
                                                     <p><b>DeliveryAgent yet to be Assigned</b></p>
                                                    <svg version="1.1" id="Capa_1" class="track" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" stroke-width="0.75"
                                                     viewBox="0 0 60 60" style="height:110px;enable-background:new 0 0 60 60;" xml:space="preserve">
                                                     {% endif %}
                                                     {% endif %}
                                                <path d="M60,30C60,13.458,46.542,0,30,0S0,13.458,0,30c0,6.142,1.858,11.857,5.038,16.618l-0.002,0.021l0.207,0.303
                                                    c0.18,0.263,0.374,0.512,0.562,0.768c0.076,0.104,0.151,0.209,0.229,0.313c0.238,0.316,0.483,0.626,0.732,0.931
                                                    c0.072,0.088,0.145,0.175,0.218,0.262c1.157,1.385,2.427,2.653,3.793,3.794c0.083,0.069,0.165,0.139,0.249,0.208
                                                    c0.298,0.243,0.599,0.481,0.906,0.712c0.124,0.094,0.25,0.185,0.375,0.277c0.292,0.214,0.584,0.426,0.884,0.629
                                                    c0.16,0.109,0.326,0.211,0.488,0.317c0.416,0.27,0.836,0.531,1.264,0.779c0.298,0.174,0.597,0.347,0.902,0.511
                                                    c0.184,0.099,0.372,0.191,0.558,0.286c0.325,0.166,0.651,0.327,0.982,0.481c0.167,0.077,0.334,0.153,0.502,0.227
                                                    c0.383,0.17,0.771,0.331,1.162,0.485c0.121,0.048,0.241,0.097,0.363,0.144c1.073,0.406,2.175,0.754,3.302,1.036
                                                    c0.046,0.012,0.093,0.021,0.139,0.032c0.498,0.122,1.001,0.231,1.509,0.328c0.135,0.026,0.27,0.049,0.405,0.073
                                                    c0.424,0.075,0.85,0.141,1.28,0.198c0.164,0.022,0.327,0.043,0.491,0.063c0.419,0.048,0.841,0.086,1.265,0.117
                                                    c0.158,0.012,0.315,0.027,0.473,0.036C28.847,59.979,29.421,60,30,60s1.153-0.021,1.724-0.053c0.158-0.009,0.315-0.025,0.473-0.036
                                                    c0.424-0.031,0.846-0.068,1.265-0.117c0.164-0.019,0.328-0.041,0.491-0.063c0.43-0.057,0.856-0.123,1.28-0.198
                                                    c0.135-0.024,0.27-0.047,0.405-0.073c0.508-0.097,1.011-0.206,1.509-0.328c0.046-0.011,0.093-0.021,0.139-0.032
                                                    c1.127-0.282,2.229-0.63,3.302-1.036c0.122-0.046,0.243-0.096,0.365-0.144c0.391-0.154,0.778-0.315,1.161-0.484
                                                    c0.168-0.074,0.336-0.15,0.502-0.227c0.331-0.154,0.658-0.315,0.982-0.481c0.186-0.095,0.374-0.188,0.558-0.286
                                                    c0.305-0.164,0.603-0.337,0.902-0.511c0.428-0.249,0.849-0.509,1.264-0.779c0.163-0.106,0.328-0.208,0.488-0.317
                                                    c0.299-0.203,0.591-0.415,0.884-0.629c0.125-0.092,0.251-0.183,0.375-0.277c0.306-0.231,0.608-0.469,0.906-0.712
                                                    c0.084-0.069,0.166-0.139,0.249-0.208c1.367-1.142,2.636-2.409,3.794-3.795c0.073-0.087,0.145-0.173,0.216-0.261
                                                    c0.249-0.305,0.494-0.615,0.732-0.931c0.078-0.103,0.152-0.208,0.229-0.313c0.187-0.256,0.382-0.505,0.562-0.768l0.207-0.303
                                                    l-0.002-0.021C58.142,41.857,60,36.142,60,30z M58,30c0,4.972-1.309,9.642-3.591,13.694C52.697,38.02,47.458,34,41.311,34h-0.896
                                                    h-5.049C35.164,34,35,33.836,35,33.635V32.99c0-0.183,0.149-0.303,0.276-0.352c6.439-2.421,10.455-12.464,9.613-19.488
                                                    c-0.439-3.658-2.251-6.927-4.883-9.295C50.517,7.892,58,18.086,58,30z M52.538,46.59c-0.081,0.109-0.162,0.217-0.244,0.325
                                                    c-0.223,0.293-0.448,0.584-0.682,0.868c-0.024,0.029-0.049,0.057-0.073,0.086c-0.808,0.972-1.681,1.888-2.611,2.743
                                                    c-0.055,0.051-0.11,0.103-0.166,0.153c-0.277,0.251-0.561,0.495-0.848,0.735c-0.09,0.075-0.181,0.149-0.272,0.223
                                                    c-0.279,0.227-0.56,0.45-0.847,0.666c-0.097,0.073-0.197,0.142-0.295,0.214c-0.165,0.121-0.332,0.238-0.499,0.355V48h-2v6.233
                                                    c-0.039,0.023-0.078,0.045-0.118,0.068c-0.255,0.146-0.509,0.291-0.768,0.428c-0.177,0.094-0.357,0.185-0.537,0.276
                                                    c-0.302,0.152-0.606,0.299-0.913,0.44c-0.15,0.069-0.299,0.138-0.45,0.204c-0.385,0.168-0.774,0.328-1.166,0.479
                                                    c-0.081,0.031-0.16,0.065-0.241,0.095c-1,0.374-2.022,0.692-3.063,0.95c-0.075,0.019-0.151,0.034-0.226,0.052
                                                    c-0.431,0.103-0.866,0.197-1.303,0.279c-0.13,0.025-0.26,0.047-0.391,0.07c-0.388,0.068-0.778,0.127-1.17,0.178
                                                    c-0.151,0.02-0.302,0.041-0.454,0.058c-0.388,0.045-0.778,0.078-1.17,0.107c-0.145,0.01-0.289,0.025-0.435,0.033
                                                    C31.065,57.982,30.534,58,30,58s-1.065-0.018-1.595-0.048c-0.146-0.008-0.29-0.023-0.435-0.033c-0.391-0.029-0.782-0.062-1.17-0.107
                                                    c-0.152-0.017-0.303-0.038-0.454-0.058c-0.392-0.052-0.782-0.111-1.17-0.178c-0.13-0.023-0.261-0.045-0.391-0.07
                                                    c-0.437-0.083-0.872-0.176-1.303-0.28c-0.075-0.018-0.15-0.034-0.225-0.052c-1.041-0.259-2.064-0.576-3.064-0.95
                                                    c-0.081-0.03-0.161-0.064-0.241-0.095c-0.392-0.151-0.78-0.311-1.165-0.479c-0.151-0.066-0.301-0.135-0.451-0.204
                                                    c-0.307-0.141-0.611-0.288-0.913-0.44c-0.18-0.091-0.36-0.181-0.537-0.276c-0.259-0.137-0.514-0.283-0.768-0.428
                                                    c-0.039-0.023-0.079-0.045-0.118-0.068V48h-2v4.958c-0.168-0.117-0.335-0.235-0.499-0.355c-0.098-0.072-0.198-0.141-0.295-0.214
                                                    c-0.287-0.216-0.568-0.439-0.846-0.665c-0.092-0.074-0.183-0.149-0.274-0.224c-0.287-0.239-0.57-0.483-0.847-0.734
                                                    c-0.056-0.051-0.112-0.104-0.168-0.155c-0.93-0.855-1.803-1.77-2.61-2.742c-0.024-0.029-0.049-0.057-0.073-0.086
                                                    c-0.234-0.284-0.459-0.575-0.682-0.868c-0.082-0.108-0.164-0.216-0.244-0.325c-0.12-0.163-0.236-0.329-0.352-0.495
                                                    C7.893,40.313,12.804,36,18.689,36h2.896L30,44.414L38.414,36h2.896c5.885,0,10.797,4.313,11.58,10.095
                                                    C52.774,46.261,52.659,46.427,52.538,46.59z M25.491,30.791C20.709,29.022,17,20.85,17,15c0-0.128,0.015-0.253,0.018-0.38
                                                    l0.732-0.903c1.651-1.964,4.469-2.526,7.012-1.4C25.785,12.771,26.874,13,28,13c2.971,0,5.64-1.615,7.028-4.184
                                                    c3.182,1.045,6.022,3.015,7.943,5.498c0.293,6.1-3.294,14.533-8.398,16.452C33.617,31.126,33,31.999,33,32.99v0.645
                                                    C33,34.938,34.062,36,35.365,36h0.221L30,41.586L24.414,36h0.221C25.938,36,27,34.938,27,33.635V33
                                                    C27,32.014,26.395,31.126,25.491,30.791z M30.04,2.002c0.012,0,0.022,0,0.033,0c0.489,0.003,0.97,0.03,1.43,0.083
                                                    c4.959,0.553,9.127,4.005,10.752,8.589c-2.115-1.842-4.708-3.26-7.497-4.027l-0.86-0.236l-0.333,0.826C32.644,9.522,30.46,11,28,11
                                                    c-0.845,0-1.662-0.172-2.427-0.511c-2.766-1.224-5.786-0.893-8.017,0.73c0.613-2.026,1.72-3.882,3.261-5.42
                                                    C23.271,3.35,26.53,2.002,30.04,2.002z M19.982,3.86c-0.193,0.174-0.392,0.338-0.578,0.523C16.564,7.218,15,10.987,15,15
                                                    c0,6.629,4.19,15.593,9.797,17.666C24.916,32.711,25,32.848,25,33v0.635C25,33.836,24.836,34,24.635,34h-5.049h-0.896
                                                    c-6.148,0-11.387,4.02-13.099,9.694C3.309,39.642,2,34.972,2,30C2,18.09,9.477,7.9,19.982,3.86z"/>
                                                <g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                                                </svg>
                                                <br/>
                                                <br/>
                                                <i class="fas fa-angle-double-down fa-2x" style="padding-bottom:10px;"></i>


                                                {% if item.status == "Order Picked" %}

                                                    <p style="color: #FF9900"><b>Order on the way </b></p>
                                                    <svg version="1.1" class="track" style="fill:#FF9900" id="Layer_1_1_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                     viewBox="0 0 64 64" style="height:110px;enable-background:new 0 0 64 64;" xml:space="preserve">
                                                <g id="Guide">

                                                {% else %}
                                                 <p ><b>Order not yet Picked </b></p>

                                                    <svg version="1.1" class="track" id="Layer_1_1_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                     viewBox="0 0 64 64" style="height:110px;enable-background:new 0 0 64 64;" xml:space="preserve">
                                                <g id="Guide">
                                                {% endif %}
                                                <g id="Guide">
                                                    <g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></g>
                                                <path d="M53,42c-0.654,0-1.292,0.068-1.915,0.178l-0.529-1.94C51.349,40.087,52.164,40,53,40v-2c-1.018,0-2.012,0.104-2.973,0.298
                                                    L48,30.866V25c0.552,0,1-0.448,1-1v-1h3v-2h-3v-1c0-0.552-0.448-1-1-1h-7.819l0.806-4.835C40.996,14.11,41,14.055,41,14v-2.35
                                                    c2.327-0.826,4-3.043,4-5.65c0-3.309-2.691-6-6-6s-6,2.691-6,6c0,1.44,0.51,2.762,1.359,3.797c-3.396,2.15-5.699,5.687-6.237,9.72
                                                    l-1.113,8.351c-0.019,0.145-0.007,0.292,0.037,0.431l2.946,9.428l-4.824,7.719l-4,6c-0.265,0.396-0.212,0.925,0.125,1.262l3,3
                                                    C24.481,55.896,24.736,56,25,56c0.026,0,0.052-0.001,0.078-0.003c0.292-0.023,0.559-0.172,0.73-0.409l6.337-8.713L32.61,56H25
                                                    h-3.045c-0.371-4.103-3.009-7.554-6.644-9.11C15.735,46.372,16,45.72,16,45c0-0.462-0.114-0.896-0.302-1.287
                                                    C15.884,43.531,16,43.28,16,43V33v-1v-1c0-0.552-0.448-1-1-1h-2v-2c0-1.103-0.897-2-2-2H5c-1.103,0-2,0.897-2,2v2H1
                                                    c-0.552,0-1,0.448-1,1v1v1v10c0,0.28,0.116,0.531,0.302,0.713C0.114,44.104,0,44.538,0,45c0,1.069,0.566,2.003,1.41,2.534
                                                    C0.541,48.434,0,49.653,0,51h2c0-1.654,1.346-3,3-3h1h5c4.962,0,9,4.038,9,9c0,0.552,0.448,1,1,1h12.662H39
                                                    c0.14,0,0.273-0.03,0.394-0.082c0.027-0.012,0.048-0.036,0.074-0.05c0.091-0.049,0.178-0.103,0.249-0.176
                                                    c0.004-0.004,0.011-0.006,0.015-0.01c0.03-0.032,0.042-0.075,0.067-0.111c0.049-0.068,0.098-0.134,0.129-0.213
                                                    c0.022-0.057,0.025-0.117,0.036-0.177C39.975,57.12,40,57.064,40,57v-4c0-5.633,3.608-10.427,8.629-12.228l0.528,1.934
                                                    C44.984,44.271,42,48.288,42,53c0,6.065,4.935,11,11,11s11-4.935,11-11S59.065,42,53,42z M2,42v-5.556C2.591,36.788,3.268,37,4,37h8
                                                    c0.732,0,1.409-0.212,2-0.556V42h-1H3H2z M5,28h6v2H5V28z M14,32v1c0,1.103-0.897,2-2,2H4c-1.103,0-2-0.897-2-2v-1H14z M6,46H3
                                                    c-0.551,0-1-0.449-1-1s0.449-1,1-1h10c0.551,0,1,0.449,1,1s-0.449,1-1,1h-2H6z M39,2c2.206,0,4,1.794,4,4s-1.794,4-4,4s-4-1.794-4-4
                                                    S36.794,2,39,2z M24.879,53.465l-1.593-1.593l3.562-5.343l3.93-6.288l1.118,3.576L24.879,53.465z M34.612,56l-0.614-12.051
                                                    c-0.004-0.084-0.019-0.167-0.044-0.248l-4.934-15.789l1.084-8.131c0.487-3.652,2.672-6.821,5.866-8.611
                                                    C36.861,11.694,37.894,12,39,12v1.917l-0.986,5.918c-0.048,0.29,0.033,0.586,0.223,0.811C38.427,20.871,38.706,21,39,21h8v2H36.234
                                                    c-0.288,0-0.553-0.118-0.745-0.333c-0.192-0.215-0.281-0.491-0.248-0.792l0.753-7.779l-1.99-0.192l-0.752,7.765
                                                    c-0.094,0.847,0.178,1.697,0.747,2.332C34.568,24.636,35.382,25,36.234,25H37v4.945l-0.473,4.259l-1.565-5.479l-1.923,0.55
                                                    l3.971,13.9L37.926,56H34.612z M39.285,46.951l-0.287-4.022c-0.005-0.069-0.017-0.137-0.036-0.204l-1.035-3.622l0.067,0.007l1-9
                                                    C38.998,30.074,39,30.037,39,30v-5h7v6c0,0.089,0.012,0.177,0.035,0.263l2.066,7.575C44.16,40.206,40.962,43.164,39.285,46.951z
                                                     M53,62c-4.962,0-9-4.038-9-9c0-3.791,2.359-7.035,5.684-8.359l2.351,8.622l1.93-0.526l-2.351-8.619C52.067,44.048,52.528,44,53,44
                                                    c4.962,0,9,4.038,9,9S57.962,62,53,62z"/>
                                                <path d="M11,64c3.86,0,7-3.14,7-7s-3.14-7-7-7s-7,3.14-7,7S7.14,64,11,64z M11,52c2.757,0,5,2.243,5,5s-2.243,5-5,5s-5-2.243-5-5
                                                    S8.243,52,11,52z"/>
                                                <rect x="7" y="38" width="2" height="2"/>
                                                <rect x="20" y="6" width="7" height="2"/>
                                                <rect x="12" y="6" width="2" height="2"/>
                                                <rect x="16" y="6" width="2" height="2"/>
                                                <rect x="8" y="6" width="2" height="2"/>
                                                <rect x="15" y="14" width="7" height="2"/>
                                                <rect x="7" y="14" width="2" height="2"/>
                                                <rect x="11" y="14" width="2" height="2"/>
                                                <rect x="3" y="14" width="2" height="2"/>
                                                </svg>

                                              </div>
                                              <div class="modal-footer" align="center">

                                                <button type="button" class="btn btn-primary">Ok</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                        <!--{% endif %}-->
                        {% endfor %}
                        <div class="pagination justify-content-center mb-5">
                            {% if values.has_previous %}
                                <a class="pagination-action" href="?page=1"><i class="fas fa-angle-double-left"></i></a>
                                <a class="pagination-action" href="?page={{ values.previous_page_number }}"><i class="fas fa-angle-left"></i></a>
                            {% endif %}

                            {% for num in values.paginator.page_range %}
                                {% if values.number == num %}
                                    <span class="pagination-number pagination-current">{{ num }}</span>&nbsp;
                                {% elif num > values.number|add:'-3' and num < values.number|add:'3' %}
                                    <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>&nbsp;
                                {% endif %}
                            {% endfor %}
                            {% if values.has_next %}
                            <a class="pagination-action" href="?page={{ values.next_page_number }}"><i class="fas fa-angle-double-right"></i></a>
                            <a class="pagination-action" href="?page={{ values.paginator.num_pages }}"><i class=""fas fa-angle-right></i></a>
                        {% endif %}
                    </div>
                        {% else %}

                        <center>
		<img src="https://cdn.dribbble.com/users/357929/screenshots/2276751/orderup-emptystate-sadbag.png" style="height:300;" class="mt-4 align-bottom rounded mx-auto d-block" alt="order processing">
		<h5 class="card-title">You have placed no orders</h5>
                            <p><small>Fill your bag with a delicious order</small></p>
	</center>

                        {% endif %}
                </div>
            </div>
        </div>
        <div class="jumbotron text-center" style="margin-bottom:0">
            <p>By Me</p>
        </div>
    </body>
{% endblock content %}